version: '3.9'

services:
  postgres:
    image: postgres:18
    container_name: oauth_mastery_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ouath_client_db
      PGDATA: /var/lib/postgresql/18/data
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/18/data
      - ./db_init:/docker-entrypoint-initdb.d
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: oauth_mastery_keycloak
    command: start-dev
    environment:
      KC_DB: dev-mem
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_PORT: 8080
    ports:
      - "8080:8080"
    restart: unless-stopped
volumes:
  pgdata:
